body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: black;
    color: white;
}

.chat-content {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    gap: 20px;
}

input {
    width: 20rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
}

.chat-input {
    display: flex;
    gap: 10px;
}
